@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

.input {
  background-color: #e2dfdf;
  border-radius: 30px;
}

input {
  background: transparent;
  outline: none;
  border: none;
  height: 30px;
  padding: 10px;
}

/* Error */
.error {
  font-size: 15px;
  color: red;
}

button {
  background-color: orangered;
  color: white;
  padding: 15px;
  width: 90px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  filter: opacity(0.7);
}

.list li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

ul li span {
  position: absolute;
  right: 15px;
}

.list li::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
}

ul li.checked {

  text-decoration: line-through;
}


ul li.checked::before{
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    background-color: #0e0000;
    border: 1px solid black;
    border-radius: 50%;   
}